.zoom {
   
    transition: transform .2s; /* Animation */

  }

  .zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .thumb {
    display: inline-flex;
    width: auto;
    margin: 5px;
    background: rgb(255, 255, 255, 0.2);
    padding: 15px;
    
    
  }
  img {
      border: solid;
    border-color: blue;
    border-width: 1px;
    cursor: pointer;
  }