html, body {
  height: 100%;
}

  .contactForm {
      text-align: center;
      padding-top: 50px;
  }

  .row {
      justify-content: center;
  }

  #featuredCard {
    display: inline-block;
    ;
    margin: 5px;
    background: rgb(255, 255, 255, 0.2);
    padding: 15px;
  }

 .fpLink {
      color: midnightblue;
      font-weight: bold;
  }

  .bioBlock {
    background: rgb(255, 255, 255, 0.3);
    padding: 15px;
    font-weight: bold;
  }

  .aboutDiv {
    height: 100%;
  
  }

  .spacer {
    height: 150px;
  }

  p {
    font-weight: bold;
  }
