
#name-cover {
    /* background-color: #6d9648; */
    border-radius: 0px 0px 15px 0px;
    text-align: center;
    font-family: 'Trade Winds', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    
  }

  .nav-link {
    font-family: 'Trade Winds', Verdana, Geneva, Tahoma, sans-serif;
  }

  .px-2 {
    font-family: 'Trade Winds', Verdana, Geneva, Tahoma, sans-serif;
  }

